{{ ansible_managed | comment }}
{% if keepalived_global_defs is defined %}

global_defs {
{% if keepalived_global_defs.enable_script_security is defined and keepalived_global_defs.enable_script_security %}
  enable_script_security
{% endif %}
{% if keepalived_global_defs.script_user is defined and keepalived_global_defs.enable_script_security %}
  script_user {{  keepalived_global_defs.script_user }}
{% endif %}
}

{% endif %}
{% for instance in keepalived_vrrp_instances %}
{% if instance.check_status_command is defined %}

vrrp_script chk_command_{{ instance.virtual_router_id }} {
   script "{{ instance.check_status_command }} "   # command that verify status 
   interval 2                    # check every 2 seconds
   weight 3                      # add 3 points of prio if OK
}

{% endif %}
vrrp_instance {{ instance.name }} {
  state {{ instance.state }}
  interface {{ instance.interface }}
{% if instance.unicast_src_ip is defined %}  unicast_src_ip {{ instance.unicast_src_ip }}
  unicast_peer {
    {{ instance.secondary_private_ip }}
  }
{% endif %}
  virtual_router_id {{ instance.virtual_router_id }}
  priority {{ instance.priority }}
  authentication {
    auth_type {{ instance.authentication.auth_type }}
    auth_pass {{ instance.authentication.auth_pass }}
  }
  virtual_ipaddress {
  {% for ip in instance.virtual_ipaddresses %}
  {{ ip.name }}/{{ ip.cidr }}
{% endfor %}
  }
{% if instance.check_status_command is defined %}
  track_script {
    chk_command_{{ instance.virtual_router_id }}
}
{% endif %}
{% if instance.virtual_routes is defined %}

  virtual_routes {
{% for virtual_route in instance.virtual_routes %}
{% if virtual_route.via is defined %}
    {{ virtual_route.dest }} via {{ virtual_route.via }} src {{ virtual_route.src }} dev {{ virtual_route.dev }}
{% elif virtual_route.via is not defined %}
    {{ virtual_route.dest }} src {{ virtual_route.src }} dev {{ virtual_route.dev }}
{% endif %}
{% endfor %}
  }
{% endif %}
{% if instance.notify_master is defined %}

  notify_master {{ instance.notify_master }}
{% endif %}{% if instance.notify_backup is defined %}
  notify_backup {{ instance.notify_backup }}
{% endif %}{% if instance.notify_stop is defined %}
  notify_stop {{ instance.notify_stop }}
{% endif %}
}
{% endfor %}
